@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-blue: #1697a6;
  --color-blue-light: #1bc6da;
  --color-orange: #ffc24b;
  --color-pink: #ffb3ae;
  --color-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-pink);
}

/* Global rules */
.wrap {
  width: 120rem;
}

.nav-active {
  background-color: wheat;
}

.heading-1 {
  font-size: 7rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 2rem;
}

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.heading-3 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem;
}

.body-text {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.cta {
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  color: var(--color-white);
  transition: all 0.3s 0s ease-in;
}

.cta:hover {
  background-color: var(--color-blue-light);
}

/* ========================================== */

header {
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* NAV STYLE */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.header-nav .logo span a {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
  text-decoration: none;
}

.header-nav nav ul {
  display: flex;
}

.header-nav nav ul li {
  list-style: none;
  margin-left: 1rem;
}

.header-nav nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.3s 0s ease-in;
}

.header-nav nav ul li a:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* ========================================== */

/* HEADER CONTENT */
.header-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  width: 45%;
}

.header-img {
  width: 55%;
}

.header-content .header-title .heading-1,
.header-content .header-title .heading-2 {
  color: var(--color-blue);
}

.header-img {
  margin-left: 3rem;
}

.header-content .header-img img {
  width: 100%;
}
/* ========================================== */

/* SECTION ABOUT */
#about {
  background-color: var(--color-blue);
  height: 60rem;
  border-radius: 0 0 3rem 0;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about-img {
  width: 25rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 1rem solid var(--color-white);
  background-image: url("img/profil.jpg");
  background-size: cover;
  object-fit: cover;
  margin-right: 5rem;
}

#about .about-me {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#about .about-me h2 {
  align-self: flex-end;
  color: var(--color-pink);
}
/* ========================================== */

/* SECTION PORTOFOLIO */
#portofolio {
  width: 100%;
  height: 70rem;
  background-color: var(--color-pink);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

#portofolio .portofolio-content {
  display: flex;
  flex-direction: column;
}

#portofolio h2 {
  color: var(--color-blue);
  align-self: flex-end;
}

#portofolio .portofolio-case {
  display: flex;
  justify-content: space-around;
  margin-top: 5.5rem;
}

#portofolio .portofolio-case1,
#portofolio .portofolio-case2 {
  width: 55rem;
  height: 40rem;
  background-color: #fff;
  border-radius: 3rem;
  border: 1rem solid var(--color-white);
}

#portofolio .portofolio-case1 {
  background-image: url("img/folio1.jpg");
  background-size: cover;
  object-fit: cover;
}

#portofolio .portofolio-case2 {
  background-image: url("img/folio2.jpg");
  background-size: cover;
  object-fit: cover;
}
/* ========================================== */

/* SECTION BLOG */
#blog {
  height: 60rem;
  background-color: var(--color-blue);
  clip-path: polygon(0 20%, 0 100%, 100% 100%, 100% 0);
  padding: 10rem 0 5rem 0;
  display: flex;
  justify-content: center;
}

#blog .blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blog .blog-content h2 {
  color: var(--color-pink);
  align-self: flex-end;
}

#blog .blog-content .blog-article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5.5rem;
}

#blog .blog-content .blog-article .blog-post1,
#blog .blog-content .blog-article .blog-post2,
#blog .blog-content .blog-article .blog-post3 {
  width: 30rem;
  height: 35rem;
  background-color: var(--color-pink);
  border-radius: 2rem;
}

#blog .blog-post1 .blog-img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-image: url("img/apl.jpg");
  background-size: cover;
}

#blog .blog-post2 .blog-img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-image: url("img/ecommerce.jpg");
  background-size: cover;
}

#blog .blog-post3 .blog-img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  background-image: url("img/web.jpg");
  background-size: cover;
}

#blog .blog-head {
  padding: 2rem;
}

#blog .blog-head .date {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

#blog .blog-head .author {
  font-size: 1.1rem;
}

#blog .blog-head .author span {
  font-weight: 600;
  font-size: 1.2rem;
}
/* ========================================== */

/* HEADER CONTENT */
/* ========================================== */ ;
